<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar contacto</title>
</head>
<body>

    <h1 style = "text-align: center;">Agregar contacto</h1>

    <div style = "text-align: center;">
        <label for="contacto"><b>Nombre:</b></label><br>
        <input type="text" id="contacto" name="contacto" required><br><br>

        <label for="contacto"><b>Teléfono:</b></label><br>
        <input type="text" id="contacto" name="contacto" required><br><br>
    </div>
    
</body>
</html>