<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar contacto</title>
    <script src="agregar_contacto_screen.js" defer></script>
</head>
<body>

    <h1 style="text-align: center;">Agregar contacto</h1>

    <div style="text-align: center;">

        <label for="tipo"><b>Selecciona el tipo: </b></label><br>
        <select id="tipo" name="tipo">
            <option value="Profesional">Profesional</option>
            <option value="Personal">Personal</option>
        </select><br><br>

        <label for="nombre"><b>Nombre:</b></label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="telefono"><b>Teléfono:</b></label><br>
        <input type="text" id="telefono" name="telefono" required><br><br>

        <button onclick="registrarContacto()">Agregar</button><br><br>
        <button onclick="window.location.href='menu_usuario_screen.html'">Volver</button><br><br>

    </div>
    
</body>
</html>
