<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Importar contacto</title>
</head>
<body>
    <h1 style="text-align: center;">Importar contacto</h1>

    <div style="text-align: center;">
        <label for="rutaArchivo"><b>Ingresa la ruta del archivo: </b></label><br />
        <input type="text" id="rutaArchivo" name="rutaArchivo" required /><br /><br />
        <button id="btnImportar">Importar</button><br /><br />
        <button onclick="window.location.href='menu_usuario_screen.html'">Volver</button><br /><br />
    </div>

    <script src="importar_contactos_screen.js"></script>
</body>
</html>
