<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importar contacto</title>
</head>
<body>

    <h1 style="text-align: center;">Importar contacto</h1>

    <div style="text-align: center;">
        <label for="contacto"><b>Ingresa la ruta del archivo: </b></label><br>
        <input type="text" id="usuario" name="usuario" required><br><br>
        <button>Importar</button><br><br>
        <button onclick="window.location.href='menu_usuario_screen.html'">Volver</button><br><br>

    </div>
    
</body>
</html>