<html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Manager</title>
</head>
<body>
    <h1 style="text-align: center;">Bienvenido a Contact Manager</h1>

    <div style="text-align: center;">
        <button onclick="window.location.href='iniciar_sesion_screen.html'">Iniciar Sesión</button><br><br>
        <button onclick="window.location.href='registrar_usuario_screen.html'">Registrarse</button>
    </div>
</body>
</html>