<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>

    <h1 style="text-align: center;">Iniciar sesión</h1><br>

    <div style="text-align: center;">
        <label for="usuario"><b>Usuario:</b></label><br>
        <input type="text" id="usuario" name="usuario" required><br><br>

        <label for="contraseña"><b>Contraseña: </b></label><br>
        <input type="password" id="contraseña" name="contraseña" required><br><br>
    </div>

    <div style="text-align: center;">
        <button onclick="window.location.href='menu_usuario_screen.html'">Iniciar sesión</button><br><br>
        <button onclick="window.location.href='index.html'">Volver</button><br><br>
    </div>
    
</body>
</html>