<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Menú</title>
    <script src="menu_usuario_screen.js" defer></script>
</head>
<body>

    <h1 style="text-align: center;">Menú Principal</h1>

    <div style="text-align: center;">
        <button id="btnAgregar">Agregar contacto</button><br /><br />
        <button id="btnEditar">Editar contacto</button><br /><br />
        <button id="btnVer">Ver contactos</button><br /><br />
        <button id="btnImportar">Importar Contactos</button><br /><br />
        <button id="btnExportar">Exportar Contactos</button><br /><br />
        <button id="btnSalir">Salir</button><br /><br />
    </div>

</body>
</html>
