<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
</head>
<body>

    <h1 style = "text-align: center;">Menú Principal</h1>

    <div style = "text-align: center;">
        <button onclick="window.location.href='agregar_contacto_screen.html'">Agregar contacto</button><br><br>
        <button onclick="window.location.href='iniciar_sesion_screen.html'">Editar contacto</button><br><br>
        <button onclick="window.location.href='iniciar_sesion_screen.html'">Ver contactos</button><br><br>

    </div>
    
</body>
</html>