<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver contactos</title>
</head>
<body>

    <h1 style ="text-align: center;">Ver contactos</h1>

    <div style ="text-align: center;">

        <label for="tipo"><b>Filtrar por tipo: </b></label><br>
        <select>
            <option>Profesional</option>
            <option>Personal</option>
        </select><br><br>

        <label for="contacto"><b>Filtrar por nombre:</b></label><br>
        <input type="text" id="contacto" name="contacto" required><br><br>

        <label for="contacto"><b>Filtrar por teléfono:</b></label><br>
        <input type="text" id="contacto" name="contacto" required><br><br>

        <button>Filtrar</button><br><br>
        <button onclick="window.location.href='menu_usuario_screen.html'">Volver</button><br><br>

    </div>
    
</body>
</html>